<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twitter.android.yamba" >

    <permission
        android:name="com.twitter.android.yamba.permission.TWEET_POST_STATUS"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.twitter.android.yamba.permission.TWEET_POST_STATUS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.twitter.android.yamba.TweetActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.twitter.android.yamba.PostTweetService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.twitter.android.yamba.PostTweetReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.twitter.android.yamba.permission.TWEET_POST_STATUS">
            <intent-filter>
                <action android:name="com.twitter.android.yamba.ACTION_TWEET_POST_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
